<div class="container-fluid fixed-bottom d-flex justify-content-center align-items-center footer" style="height: 8%; background-color: var(--lgrey);">
    <span class="d-inline-flex justify-content-center align-items-baseline footer" style="font-size: 84%; font-style: oblique;">
        <h1 class="footer" style="font-size: 0.84rem;">{{ site.title }}</h1> 
        <p class="footer mono">&nbsp;is built using the&nbsp;</p>
        <a class="footer mono" href="https://github.com/schuyh/canvas">Canvas theme</a>
    </span>
</div>