---
layout: default
---

<div class="row pt-3 d-flex justify-content-center">
    <h2 class="post-header pt-3">{{ page.title }}</h2>
</div>
<div class="row pt-3">
    <div class="col-12 pt-3 d-flex align-content-baseline">
        {% if page.image %}
            <img class="post-image" src="{{ page.image }}" alt="{{ page.title }}" style="height: auto;">
            {% else %}
            <img class="post-image" src="{{ page.ao }}" alt="{{ page.title }}" style="height: auto;">
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-7 d-inline-flex justify-content-start" style="padding-left: 20px;">
        <div class="post d-inline-flex align-items-baseline">
            <p class="social mono">
                {{ page.author }} | {{page.date | date: '%b %d, %Y' }}
            </p>
        </div>
    </div>
    <div class="col-5 d-inline-flex justify-content-end"  style="padding-right: 20px;">
        <p class="post social d-inline-flex align-items-baseline">
            {% include social.html %}
        </p>
    </div>
</div>
    <div class="row">
        <div class="col-12" style="padding-bottom: 50px;">
            <p>{{ content }}</p>
            <br />
        </div>
    </div>
</div>

<!-- Added style="height: auto;" to imgs
    like in reno-visions gallery 
    to fix image strecthing in mobile --> 
